extends layout
block content
    br
    #postbtn-modal
        // Button trigger modal
        button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal') Create Post
        // Modal
        #exampleModal.modal(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content

                    .modal-header
                        h5#exampleModalLabel.modal-title Create Post
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    .modal-body
                        form(method='POST', action='/posts/add')
                            .form-group
                                label(for="title") Title
                                input.form-control(type="text",name='title', placeholder='Post Title')

                            .form-group
                                label(for="title") Body
                                input.form-control(type="text",name='body', placeholder='Post Body') 
                            
                            .form-group
                                label(for="title") Image
                                input.form-control(type="text",name='image', placeholder='Post Image') 

                            .modal-footer
                                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                                button.btn.btn-primary(type='submit') Post

    br
    #cf-posts
        ul.card-column
            each post, i in posts
                li.post.card.mb-2
                    img.card-img-top(src='/images/' + post.image,alt='image of ' + post.image)
                    a.card-title.border.border-info(href='/posts/' + post._id)=post.title
                    .card-body=post.body
                    
